/* Base styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  font-weight: 300;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #555;
}

/* Form styling */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Creates consistent spacing between child elements */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.inputbar {
  font-size: 20px;
  padding: 10px 15px;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.2s;
}

.inputbar:focus {
  border-color: #888;
  outline: none;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #555;
  border: none;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #333;
}

/* Image container styling */
.image-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  /* justify-content: center; */
}
